SetEnv LD_LIBRARY_PATH /home/spontane/python/lib/
Options +ExecCGI
AddHandler fcgid-script .fcgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ app.fcgi/$1 [QSA,L]

#RedirectMatch 404 /\\.git(/.*|$)
#RedirectMatch 404 /\\.svn(/.*|$)
