Click==7.0
Flask==1.0.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.0
Pygments==2.3.1
python-markdown-math==0.6
PyYAML==3.13
uWSGI==2.0.17.1
Werkzeug==0.14.1
-e git+https://github.com/ghl3/AlphaFour.git@1e519c892a395ab116b588eff06a4d1956368d52#egg=AlphaFour

