

  body { 
         color: #5d665b;
	 margin-top: 5px;
         font-family: Verdana, Geneva, Arial, sans-serif;
         font-size: small;
	 line-height: 180%;
	}

html, body {  height: 100% }

 #header {
          /* background-color: #6699FF; */
           background-color: #3660c2;
           height: 40px;
           font-size: 30px;
           line-height: 36px;
           text-align: center;
           visibility: visible;
           position: relative;
           color: black;
           font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif; 
           border: 2px solid black;
            
            }

 #footer {
          margin-top: 0px;
          width: 900px;
          margin-left: auto ;
          margin-right: auto ;
          text-align: center;
          border: 1px solid black;
           padding-bottom: 10px;
           margin-bottom: 10px;
           }

 #navebar {
	   color: black;
	   font-size: 9px;
	   line-height: 16px;
	   /*background-color: #CCFFFF;*/
	   background-color: #99CCFF;
	   text-align: center;
	   letter-spacing: 6px;
	   height: 16px;
          /* width: 500px;*/

	  }

 #navebar a:link{ 
                  color:#000;
                 }

 #navebar a:visited{ 
                  color:#000;
                 }

 #logo {
         width: 900px;
         margin-top: 10px ;
         margin-bottom: 10px ;
         margin-left: auto ;
         margin-right: auto ;
         border: 1px solid black;
       }


  p { 
      text-indent: 3em;
    }

  h1 h2 h3 h4 {
       color: #966b72; 
       font-family: Georgia, "Times New Roman", Times, serif;
     }

  ul {
        margin: 1em 0 1em 0;
     }

.tab{ 
      text-indent: 3em;
     }


 .midsection {
          width: 900px;
          margin-left: auto ;
          margin-right: auto ;
          border: 1px solid black;
          border-bottom-width: 1px;
          height: auto;
          min-height: 100%;
         }


 .midcol
   {
     width: 60%;
     margin-left: 0%;
     margin-right: 5%;
     float: left;

   }

 .leftcol {
          margin-left: auto ;
          margin-right: auto ;
          text-align: right;
	  width: 2.5%;
	  float: left;

	 }

 .rightcol {
             font-size: 10px;
             font-style: italic;
             line-height: 20px;
             width: 30%;
             margin-right: 2.5%;
             margin-top: 10px;
             float: left;

             }


.bar {  width: 100%;
        content: ".";
        display: block;
        height:  0;
        clear: both;
        visibility:  hidden;
 }


 img.center { 
              display: block;
              margin-left: auto;   margin-right: auto; 
              margin-top: auto;   margin-bottom: auto; 
              } 

 .caption {
            margin-top: 5px;
            text-indent: 3em;
            width: 80%; 
            margin-left: 10%;
            margin-right: 10%;
            font-size: 10px;
            font-style: italic;
            line-height: 20px;
            }


  a:link { color: #696; text-decoration: none }
  a:visited { color: #699; text-decoration: none }
  a:hover { color: #c93; text-decoration: underline }
  a:active { color: #900; text-decoration: underline; background-color: transparent }  



