

{% extends "main_template.html" %}

<!-- Body -->
{% block body %}

<a href="{{url_for('.blog_post', post=post['url'])}}"><h2>{{ post['meta']['title'] }}</h1></a>
<i>{{ post['meta']['date'].strftime("%B %d, %Y")}}</i>

<ul>
  {% for category in post['meta']['categories'] %}
    <li> {{ category }} </li>
    {% endfor %}
</ul>

{{ post['content'] }}

{% endblock %}


{% block sidebar %}
<div>
  <h2><a href="{{url_for('.archive_list')}}">Archive:</a></h1>
  <ul>
    {% for title, post_list in archive.iteritems() %}
    <li> <a href="{{ url_for('.archive', year=title.year, month=title.month) }}"><b>{{title.strftime("%B, %Y")}}</b></a></li>
    {% for name, date, link, file in post_list %}
    <li> <a href="{{url_for('.blog_post', post=link) }}">{{name}} <!--({{date.strftime("%B %d, %Y")}})--></a></li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
