
div {
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: "Noto Serif", sans-serif;*/
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);

  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

title {
  color: black;
  font-size: 42px;
  font-weight: 300;

}

h1 h2 h3 h4 h5 {
  color: black;
  font-size: 42px;
}


body {
  background-color: white;
  line-height: 150%;
  font-size: 22px;
}


img {
  max-width: 700px;
 }

.content {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  width: 700px;
 display: inline-block;
}

.content p {
  width: 100%;
 }

nav a {

  text-transform: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  font-family: futura-pt;
  font-kerning: auto;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;

  color: rgb(153, 153, 153);
  text-decoration: none solid rgb(153, 153, 153);

}

div.body {
  background-color: #ffffff;
  padding: 0 30px 0 30px;
}

div.document {
  width: 1080px;
  margin: 30px auto 30px auto;
}

div.documentwrapper {
  float: left;
  width: 100%;
}


/* LINKS */

a {
  text-decoration: underline;
}

a:hover, a:visited, a:link, a:active {
  color: black;
}

a:hover {
  color: #7FD600;
}


/* SIDEBAR */

div.sidebar {
  width: 170px;
  min-width: 170px;
  min-height: 10px;
  font-size: 90%;
  font-size: 14px;
  line-height: 1.8;
}

div.leftbar {
  float:left;
}

div.rightbar {
  float:right;
}

div.sidebar a {
  color: #444;
  text-decoration: none;
}

div.sidebar a:hover {
  color: #7FD600;
  text-decoration: none;
}

div.sidebar ul {
  margin: 10px 0;
  padding: 0;
  color: #000;
  list-style: none;
}

div.sidebarwrapper {
  padding: 0px 0px 0 0px;
}

.sidebar_image {
  width: 200px;
  max-width: 100%;
}

/* OTHER STUFF */

div.clearer {
  clear: both;
}

pre {
  background: #eee;
  padding: 7px 30px;
  margin: 15px -30px;
  line-height: 1.3em;
  font-size: 15px;
  font-family: "Consolas, Menlo, 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;"
  font-size: 0.9em;
  overflow: scroll;
  margin: 20px;
}

div.footer {
  width: 940px;
  margin: 20px auto 30px auto;
  font-size: 14px;
  color: #888;
  text-align: right;
}

div.footer a {
  color: #888;
}

div.break {
    content: '';
    display: block;
    width: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    padding: 0;
}