
body {

  background-color: white;
  line-height: 30.6px;
  font-family: 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro';

  font-size: 22px;
  font-style: normal;
  font-weight: normal;

  color: rgba(0, 0, 0, 0.8);)
  webkit-font-smoothing: antialiased;

}

img {
  max-width: 600px;
 }

.content {
  overflow: hidden;
  margin-left: 20px;
 }

.content p {
  width: 100%;
 }

nav a {

  text-transform: normal;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;

  font-family: futura-pt;
  font-kerning: auto;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: normal;
  font-weight: normal;

  color: rgb(153, 153, 153);
  text-decoration: none solid rgb(153, 153, 153);

}

div.body {
  background-color: #ffffff;
  padding: 0 30px 0 30px;
}

div.bodywrapper {
  margin: 0 0 0 220px;
}

div.document {
  width: 940px;
  margin: 30px auto 0 auto;
}

div.documentwrapper {
  float: left;
  width: 100%;
}

h1 h2 h3 h4 h5 {
  color: black;
}

/* LINKS */

a {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #7FD600;
  text-decoration: none;
}

p a:link, p a:hover, p a:active, p a:visited {
  color: #124600;
  text-decoration: underline;
}

p a:hover {
  color: #7FD600;
  text-decoration: underline;
}

/* SIDEBAR */

div.sidebar {
  float: left;
  width: 220px;
  margin-left: -100%;
  font-size: 90%;
  font-size: 14px;
  line-height: 1.8;
}

div.sidebar a {
  color: #444;
  text-decoration: none;
}

div.sidebar a:hover {
  color: #7FD600;
  text-decoration: none;
}

div.sidebar ul {
  margin: 10px 0;
  padding: 0;
  color: #000;
  list-style: none;
}

div.sidebarwrapper {
  padding: 10px 5px 0 10px;
}

.sidebar_image {
  width: 200px;
}

/* OTHER STUFF */

div.clearer {
  clear: both;
}

pre {
  background: #eee;
  padding: 7px 30px;
  margin: 15px -30px;
  line-height: 1.3em;
  font-size: 15px;
  font-family: "Consolas, Menlo, 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;"
  font-size: 0.9em;
  overflow: scroll;
  margin: 20px;
}

div.footer {
  width: 940px;
  margin: 20px auto 30px auto;
  font-size: 14px;
  color: #888;
  text-align: right;
}

div.footer a {
  color: #888;
}
