
{% extends "main_template.html" %}
{% set title = ": About" %}

<!-- Body -->
{% block content %}
<div class="section">
  
  <p>Welcome to SpontaneousSymmetry, a site dedicated to programming, science, math, and technology.</p>

  <p>To read our latest post, visit our <a href="/blog">Blog</a>.</p>

  <p>For our introduction to statistics, visit our <a href="/stats">Stats Guide</a>.</p>

  <p>To learn more about the author, visit the <a href="/">Home</a> page or the <a href="/work">Work</a> page.  And for more details about the author's physics research, visit the <a href="/atlas">Atlas</a> page.</p>

  For any questions or requests for posts or content, feel free to reach out to the following email address: &#103;&#104;&#108;&#050;&#050;&#055;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>
    <div class="break"></div>

  <div style="text-align: center;">
    <img src="/static/images/symmetry_e8.jpg" style="width: 200px" alt=""  border="0" >
  </div>

  <p>
    Symmetries are all around us and shape our lives in ways few understand.
    On an aesthetic level, symmetries are considered beautiful and visually pleasing.
    But the mathematical concept of a symmetry goes much deeper than the familiar definition.
    In a deep, fundamental way, symmetries govern how the world works.
    They are the language of the most fundamental physical processes that we can describe.
  </p>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
