
{% extends "main_template.html" %}

<!-- Body -->
{% block content %}
<div class="section">

  <div style="text-align: center;">
    <h2>APPS</h2>
  </div>

  The following is a list of toy apps I've written:

  <br>

  <ul>
    <li><a href="/app/rockspaper">RocksPaper</a>: Play Rocks-Paper-Scissors against a computer that attempts to learn your tendences.</li>
    <br>
    <li> <a href="/app/connectfour">ConnectFour</a>: Play Connect Four against an AI trained using self-play with Tensorflow.</li>
  </ul>

</div>

{% endblock %}
