

{% extends "main_template.html" %}

{% set current_nav = "blog" %}

<!-- Body -->
{% block content %}
<div class="section">
  <div style="text-align: center;">
    <h2>Archive</h2>
  </div>


{% for month, posts in archive.iteritems() %}

<a href="{{url_for('.archive', year=month.year, month=month.month) }}">
{{ month.strftime("%B, %Y") }}
</a>

<div>
  <ul>
    {% for post in posts %}
    <li> <a href="{{url_for('.blog_post', post=post.url()) }}">{{post.title()}} ({{post.date().strftime("%B %d, %Y")}})</a></li>
    {% endfor %}
  </ul>
</div>

{% endfor %}

</div>
{% endblock %}
