
{% extends "main_template.html" %}

<!-- Body -->
{% block body %}
<div class="section">

  <div style="text-align: center;">
    <h2>CODE</h2>
  </div>

  This page contains links to simple toy-codes that I've played with.

  Please select a program below: <br>

  <br>

  <!--<a href="Quadratic"> Quadratic <br> </a>-->
  <a href="BouncingBalls">Bouncingballs</a><br> 
  <a href="RocksPaper">RocksPaper</a><br>
  <!--<a href="Logistic"> Logistic <br> </a>-->
  <!--<a href="WordWalk"> Word Walk <br> </a>-->

  <a href="#code"></a>

</div>

{% endblock %}

<!-- Sidebar -->
{% block sidebar %}

<img src="/static/images/feynman.jpeg" class="sidebar_image" >

<div class="caption">
  Richard Feynman, theoretical physicists, Nobel Laureate, and all around fascinating person.
</div>

<br>

<img src="/static/images/YoungEinstein.jpeg" class="sidebar_image" >

<div class="caption">
  A young Einstein around the time when he invented special relativity (a part of his <a href="http://en.wikipedia.org/wiki/Annus_Mirabilis_papers">annus mirabilis</a> in 1905).
</div>


{% endblock %}
