

{% extends "main_template.html" %}

{% set title = "Error" %}
{% set current_nav = "error" %}


<!-- Body -->
{% block content %}
<div class="section">
<p>
  <b>Oops, you went to an incorrect page.</b> <br>
  Please click <a href="/">here</a> to return to SpSy's main site.
</p>
</div>
{% endblock %}

<!-- Sidebar -->
{% block sidebar %}

<img src="/static/images/brokensymmetry.jpg" class="sidebar_image"  >

<p>	 
  Your symmetry spontaneously broke.  
  Actually, broken symmetry is the reason we all exist.
  The breaking of electro-weak symmetry is the reason the universe works as it does.
  So, don't feel too bad.
</p>

{% endblock %}
