
<div id="header" style="margin-left: auto; margin-right: auto; text-align: center;">

  <div style="text-align: center;">
    <b>Spontaneous Symmetry</b>
  </div>

  <nav id="navebar"   style="margin-top: 5px" >
    <a id="nav_index" href="/">HOME</a> |
    <!--<a id="nav_info"  href="/info">INFO</a>  |-->
    <a id="nav_work"  href="/work">WORK</a> |
    <!--<a id="nav_links" href="/links">LINKS</a> |-->
    <!--<a id="nav_projects" href="/projects">PROJECTS</a> |-->
    <a id="nav_blog"  href="/blog">BLOG</a>
  </nav>

</div>
