
{% extends "main_template.html" %}

{% set title = "Spontaneous Symmetry" %}
{% set current_nav = "index" %}

<!-- Body -->
{% block content %}
<div class="section">

  <!--
  <div style="text-align: center;">
    <h1>Spontaneous Symmetry</h1>
  </div>
-->

  <div style="text-align: center;">
    <h2>George Lewis</h2>
    </div>
  <p>
    I'm a programmer, data scientist, physicist, and technology lover, and I am fascinated by learning how almost anything works.
  </p>

  <p>
    I'm currently a Machine Learning Engineer at <a href='http://google.com'>Google</a>, where I work on the Location Platform at <a href='https://google.com/maps'>Google Maps</a>.
</p>

  <p>
    Previously, I worked at <a href="https://www.LendUp.com">LendUp</a>, a startup whose goal is
    to safely extend credit to all who need it.
  </p>

  <p>
    I obtained a PhD in High Energy Experimental Particle Physics
    from New York University, where I worked on the <a href="http://atlas.ch/">ATLAS</a>
    experiment on the Large Hadron Collider at <a href="http://public.web.cern.ch/public/">CERN</a>.
  </p>

  <p>
  I was also a fellow at the <a href='http://insightdatascience.com/'>Insight Data Science Program</a>.
  </p>

  <p> For more information, please browse my <a href="/work">work and projects</a> page or read entries from my <a href="/bog">blog</a>.
    <!--
  <p> For a more detailed discussion of my work and projects, see <a href="/work">HERE</a>.</p>
  <p> To read my personal blog, see <a href="/blog">HERE</a>.</p>
-->
  <p> I can be reached at the following email address: &#103;&#104;&#108;&#050;&#050;&#055;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>
    <div class="break"></div>

  <div style="text-align: center;">
    <img src="/static/images/symmetry_e8.jpg" style="width: 200px" alt=""  border="0" >
  </div>

  <p>
    Symmetries are all around us and shape our lives in ways few understand.
    On an aesthetic level, symmetries are considered beautiful and visually pleasing.
    But the mathematical concept of a symmetry goes much deeper than the familiar definition.
    In a deep, fundamental way, symmetries govern how the world works.
    They are the language of the most fundamental physical processes that we can describe.
  </p>

</div>

{% endblock %}

{% block sidebar %}
{% endblock %}
