

{% extends "main_template.html" %}

{% set title = "Info" %}
{% set current_nav = "info" %}

<!-- Body -->
{% block content %}
<div class="section">


<div style="text-align: center;">
  <h2>INFO</h2>
</div>


<b>Contact Information:</b>

<br>
<div class="tab">George Herbert Lewis </div>
<div class="tab">Email: <a href="mailto:ghl227@gmail.com?subject=Mail for Spontaneous Symmetry">ghl227@gmail.com</a> </div>
<br>

<a name="work" title="work"></a>

<b>Bio:</b>

<p>
  I'm a graduate student in High Energy Experimental Particle Physics at New York University.
  I work on an experiment called <a href="http://atlas.ch/">ATLAS</a>, which is one of the general purpose experiments working on the Large Hadron Collider (LHC) at <a href="http://public.web.cern.ch/public/">CERN</a>, an international laboratory located just outside Geneva.
  ATLAS is a giant particle detector, the biggest and most sophisticated of its kind.
  The ATLAS detector uses many different mechanisms to observe and record the proton collisions provided by LHC, and scientists like myself study those collisions to reach a better understanding of fundamental physics.
</p> 

<br>
<b>Here are my various manifestations within the internet:</b>

<ul>
  <li> <a href="https://www.twitter.com/HerbieLewis"> twitter </a> </li>
  <li> <a href="https://www.facebook.com/HerbLewis"> Facebook </a> </li>
  <li> <a href="https://github.com/ghl3"> GitHub </a> </li>
  <li> <a href="http://www.physics.nyu.edu/experimentalparticle">New York University</a> </li>
  <li> <a href="https://phonebook.cern.ch/foundpub/Phonebook/index.html?id=PE677941"> CERN </a> </li>
  <li> <a href="https://www.last.fm/user/GHLewis"> LastFM </a> </li>
</ul>

<b>A minor clarification:</b>

<p>
  My full name is <i>George Herbert Lewis</i>.
  In a professional context, I usually go by <i>George</i>.
  Among close friends and family, I'm refered to as <i>Herbie</i>, which is derived from my middle name.
  If you're only aware of one of those, don't take it personally.
  I find it's a convenient way to separate my professional life from my personal life.
</p>	 


Cheers!

</div>
{% endblock %}

<!-- Sidebar -->
{% block sidebar %}

<img src="/static/images/MeStreetWalk.jpg" class="sidebar_image" >

<div class="caption">
  This was taken just outside my apartment in New York.  
  I spend my time between Manhattan and Geneva, Switzerland.
</div>

<br>

<img src="/static/images/Profile.jpg" class="sidebar_image" >

<div class="caption">
  Please refrain from spamming me.  
  Though, if you're an automatic spam bot, you probably won't heed this plea.
</div>
{% endblock %}
