
{% extends "main_template.html" %}

{% set title = "Links" %}
{% set current_nav = "links" %}


<!-- Body -->
{% block body %}
<div class="section">

  <div style="text-align: center;">
    <h2>LINKS</h2>
  </div>


  <b>Science Blogs:</b>
  <ul>


    <li> <a href="http://blogs.discovermagazine.com/cosmicvariance">Cosmic Variance</a>: A blog about science, high energy physics, and philosophy.  </li>
    <li> <a href="http://resonaances.blogspot.com/">RÉSONAANCES</a>: A great blog about recent results in experimental high energy physics.  </li>
    <li> <a href="http://www.science20.com/quantum_diaries_survivor">dorigo's blog</a>: A blog about physics written by a member of the CDS and CDF calaborations.  </li>
    <li> <a href="http://www.math.columbia.edu/~woit/wordpress">Not Even Wrong</a>: A string theory blog, among other things.  </li>
    <li> <a href="http://www.quantumdiaries.org">Quantum Diaries</a>: A collection of blogs and articles about physics.  </li>
    <li> <a href="http://www.skepticalscience.com/">Skeptical Science</a>: A site devoted to the science of climate change  </li>
    <li> <a href="http://pdg2.lbl.gov/atlasblog">ATLAS Control Room Blog</a>: A collection of blogs by high energy physicists.  </li>


  </ul>



  <b>Software for High Energy Physics:</b>
  <ul>

    <li> <a href="http://root.cern.ch/drupal/">ROOT</a>: A software package used to store data and make plots </li>
    <li> <a href="https://twiki.cern.ch/twiki/bin/viewauth/Atlas/AthenaFramework">Athena</a>: The control framework used to run real-time detector data collection and offline analysis. </li>
    <li> <a href="https://twiki.cern.ch/twiki/bin/viewauth/Atlas/PanDA">PanDA</a>: A tool used to perform distributed analysis so one can run jobs using computers all around the world</li>
    <li> <a href="http://sourceforge.net/apps/mediawiki/sframe/index.php?title=Main_Page">SFrame</a>: A package used for the parallel processing of Particle Physics data structures
    <li> <a href="http://roofit.sourceforge.net/">RooFit</a>: A statistical package used to build models, run regressions, perform likelihood minimizations, and to implement many other forms of statistical analysis 
    <li> <a href="https://twiki.cern.ch/twiki/bin/view/RooStats/WebHome">RooStats</a>: A set of classes built on top of RooFit to perform advanced statistical tests


  </ul>


  <b>Miscellaneous:</b>

  <ul>

    <li> <a href="http://www.xkcd.com/">xkcd</a>: A web comic about science... sometimes </li>
    <li> <a href="http://flowingdata.com/">Flowing Data</a>: A site devoted to data visualization </li>
    <li> <a href="http://www.qwantz.com/index.php">Dinosaur Comics</a>: A web comic about dinosaurs and philosophy </li>
    <li> <a href="http://terrytao.wordpress.com">What's New</a>: The blog by the brilliant mathematician Terry Tao  </li>
    <li> <a href="http://mathbabe.org/">Math Babe</a>: A blog about mathematics, modeling, statistics, and finance  </li>
    <li> <a href="http://www.calculatedriskblog.com/">Calculated Risk</a>: A blog about statistics and data.  </li>
    <li> <a href="http://fivethirtyeight.blogs.nytimes.com/">FiveThirtyEight</a>: Nate Silver's blog in the NYTimes  </li>
    <li> <a href="http://andrewgelman.com">Statistical Modeling, Causal Inference, and Social Science</a>: A blog about science and statistics  </li>

  </ul>

</div>

{% endblock %}

<!-- Sidebar -->
{% block sidebar %}

<img src="/static/images/feynman.jpeg" class="sidebar_image"m>

<div class="caption">
  Richard Feynman, theoretical physicists, Nobel Laureate, and all around fascinating person.
</div>

<br>

<img src="/static/images/YoungEinstein.jpeg" class="sidebar_image" >

<div class="caption">
  A young Einstein around the time when he invented special relativity (a part of his <a href="http://en.wikipedia.org/wiki/Annus_Mirabilis_papers">annus mirabilis</a> in 1905).
</div>

{% endblock %}
