<!DOCTYPE html>

<html>

  <head>

    {% include "analytics.html" %}
    
    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" \>
    <meta name="keywords" content="spontaneous symmetry, spontaneoussymmetry, george lewis, Higgs, ATLAS, CERN, Statistics, physics, quark" \>
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- Include the stylesheet: -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/pygmentize.css" type="text/css" />

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>
    <script type="text/javascript" async src="/static/MathJax/MathJax.js?config=TeX-AMS_CHTML"></script>

    <!-- Highlight current nav section -->
    {% if current_nav is not none %}
    <style type="text/css">
      #nav_{{current_nav}} { font-weight:bold;}
    </style>
    {% endif %}

    {% block head %}
    <!-- Hook for additional head content -->
    {% endblock %}

  </head>

  <body {{ body_tag |safe }}>

    {% block header %}

    {% include "header.html" %}

    {% endblock %}

    <div class="document">
      <div class="documentwrapper">

        <div class="sidebar leftbar">
          <div class="sidebarwrapper">

            {% block sidebar %}
            {% endblock %}

          </div>
        </div>

        <div class="content">
          {% block content %}
          {% endblock %}
        </div>

        <div class="sidebar rightbar">
          <div class="sidebarwrapper">
          </div>
        </div>

      </div> <!-- End Document Wrapper -->

      <div class="clearer">
      </div>

    </div> <!-- End document -->

    <div class="footer">
      &copy; Copyright 2017, George Herbert Lewis.
    </div>



  </body>

</html>
