<!DOCTYPE html>

<html>

  <head>

    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" \>
    <meta name="keywords" content="spontaneous symmetry, spontaneoussymmetry, george lewis, Higgs, ATLAS, CERN, Statistics, physics, quark" \>
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- Include the stylesheet: -->
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/pygmentize.css" type="text/css" />

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script type="text/javascript">
      MathJax.Hub.Config({
      "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
      });
    </script>

    <!-- Highlight current nav section -->
    {% if current_nav is not none %}
    <style type="text/css">
      #nav_{{current_nav}} { font-weight:bold;}
    </style>
    {% endif %}

    {% block head %}
    <!-- Hook for additional head content -->
    {% endblock %}

  </head>

  <body {{ body_tag |safe }}>

    {% block header %}

    {% include "header.html" %}

    {% endblock %}

    <div class="document">

      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>


      <div class="sidebar">
        <div class="sidebarwrapper">
          {% block sidebar %}
          {% endblock %}
        </div>
      </div>

      <div class="clearer">
      </div>

    </div> <!-- End document -->

    <div class="footer">
      &copy; Copyright 2014, George Herbert Lewis.
    </div>

    {% include "analytics.html" %}

  </body>

</html>
