

{% extends "main_template.html" %}

<!-- Body -->
{% block body %}


<html>
  <head>
    <title>Markdown Snippet</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>


{% endblock %}


{% block sidebar %}
<div>
  <ul>
    {% for title, post_list in archive.iteritems() %}
    <li> {{title.strftime("%B, %Y")}}</li>
    {% for name, date, link, file in post_list %}
    <li> <a href="{{url_for('blog_post', post=link) }}">{{name}} ({{date.strftime("%B %d, %Y")}})</a></li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
