

{% extends "main_template.html" %}

<!-- Body -->
{% block body %}

<html>
  <head>
    <title>Markdown Snippet</title>
  </head>
  <body>
    {{ post['content'] }}
  </body>
</html>


{% endblock %}


{% block sidebar %}
<div>
  <h2>Archive:</h1>
  <ul>
    {% for title, post_list in archive.iteritems() %}
    <li> <a href="{{ url_for('archive', year=title.year, month=title.month) }}"><b>{{title.strftime("%B, %Y")}}</b></a></li>
    {% for name, date, link, file in post_list %}
    <li> <a href="{{url_for('blog_post', post=link) }}">{{name}} ({{date.strftime("%B %d, %Y")}})</a></li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
