
{% extends "main_template.html" %}

{% set title = "Projects" %}
{% set current_nav = "projects" %}


<!-- Body -->
{% block content %}
<div class="section">

  <div style="text-align: center;">
    <h2>PROJECTS</h2>
  </div>

  <ul>

    <li> <b><a href="https://github.com/ghl3/SpontaneousSymmetry">Spontaneous
    Symmetry</a></b>: This very site, written in Flask and served on AWS using nginx.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/BarkovChain">Barkov
    Chain</a></b>: A New York City bar recommendation site using
    Foursquare data and reviews from NYMagazine to plan an evening bar
    crawl.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/higgs-kaggle">Higgs
    Kaggle</a></b>: My solution to the <a href="https://www.kaggle.com/c/higgs-boson">higgs boson Kaggle competition</a>.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/bamboo">Bamboo</a></b>: A
    set of helper functions for plotting and data manipulation using
    python and Pandas.</li>

  </ul>

  <br>

  <div style="text-align: center;">
    <h4>UNDER DEVELOPMENT</h4>
  </div>

    <li> <b><a href="https://github.com/ghl3/RemindTweets">RemindTweets</a></b>:
    Automatic reminders using Twitter, written in Scala using the
    Play! framework.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/spoiler-alert">Spoiler Alert</a></b>:
    Automatically remove spoiler content from your twitter feed using clojure.</li>

</div>
{% endblock %}


{% block sidebar %}
{% endblock %}
