
{% extends "main_template.html" %}

{% set title = "Work" %}
{% set current_nav = "work" %}


<!-- Body -->
{% block content %}
<div class="section">

  <div style="text-align: center;">
    <h2>Work</h2>
  </div>


  <h3>LendUp</h3>

  LendUp is a startup that aims to safely offer credit all who need it.
  We currently offer credit cards, installment loans, and single payment loans to those who qualify.
  I have been at the company since early 2013, when I was the 11th employee and first data scientist.
  Throughout my time at LendUp, I have worked on many of different aspects of the company, including
  credit modeling, fraud mitigation, data pipelines, and internal tooling.

  <h3>Atlas</h3>

  During my PhD, I worked on the ATLAS experiment, which is one of the two major projects
  at the Large Hadron Collider.
  I conducted my research on Top Quarks, using modern statistical techniques and technologies
  to measure the it's properties.
  I also developed statistical modeling packages to enable other researchers to better
  model their data and make more accurate inferences from it.
  For a longer discussion of the experiment and my research, see <a href="/work/atlas">here</a>.

  <h3>Side Projects</h3>

  <ul>

    <li> <b><a href="https://github.com/ghl3/SpontaneousSymmetry">Spontaneous
    Symmetry</a></b>: This very site, written in Flask and served on AWS using nginx.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/jest">Jest</a></b>: A functional programming language for the JVM.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/bamboo">Bamboo</a></b>: A
    set of helper functions for plotting and data manipulation using
    python and Pandas.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/dataframe">dataframe</a></b>: Dataframes for Clojure (inspired by python's Pandas)</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/higgs-kaggle">Higgs
    Kaggle</a></b>: My solution to the <a href="https://www.kaggle.com/c/higgs-boson">higgs boson Kaggle competition</a>.</li>

<!--
    <br>

    <li> <b><a href="https://github.com/ghl3/BarkovChain">Barkov
    Chain</a></b>: A New York City bar recommendation site using
    Foursquare data and reviews from NYMagazine to plan an evening bar
    crawl.</li>

    <br>


  </ul>

  <br>

  <div style="text-align: center;">
    <h4>UNDER DEVELOPMENT</h4>
  </div>

    <li> <b><a href="https://github.com/ghl3/RemindTweets">RemindTweets</a></b>:
    Automatic reminders using Twitter, written in Scala using the
    Play! framework.</li>

    <br>

    <li> <b><a href="https://github.com/ghl3/spoiler-alert">Spoiler Alert</a></b>:
    Automatically remove spoiler content from your twitter feed using clojure.</li>

-->

</div>
{% endblock %}


{% block sidebar %}
{% endblock %}
