
{% extends "main_template.html" %}


<!-- Head -->
{% block head %}

<!-- jquery and prettify -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<link href="https://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css"/> 
<script src="https://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js" type="text/javascript"></script>

<script type="text/javascript" src="/static/bouncingballs.js"></script>

{% endblock %}

{% block body_tag %}
<body onload="prettyPrint()" >
{% endblock %}

<!-- Body -->
{% block body %}

<br>
<center><b>Bouncing Balls</b></center>
<br>

<center>

A simple javascript program to demonstrate some <br>
animation and some (very simple) physics.

<br>

<button type="button" id="stopButton" OnClick="toggle_loop()"> Start/Stop </button> <br> 
<canvas id="canvas" width="500" height="500" style="border:2px solid black; margin: 0px auto;"> </canvas> 

<br>


<button id="showcodebutton">Show/Hide Code</button>

</center>

<div id="showcode"> 

  <pre class="prettyprint" id="python">
    {% include 'apps/bouncingballs.js' %} 
  </pre>

</div>




<br>
<br>


{% endblock %}

<!-- Sidebar -->
{% block sidebar %}
{% endblock %}
